body{
    background-color: rgb(199, 219, 226);
}
label{
    display: block;
}
div#buttons{
    margin-top: 10px;
}
span{
    display: block;
    margin-top: 10px;
    max-width: 1000px;
    word-break: break-all;
}
div{
    background-color: whitesmoke;   
    width: fit-content;
    padding: 20px;
}
button, div{
    margin: 10px;
}